{% extends "base.html" %}

{% block content %}

<h2>Reset Password</h2>
<form method="post" class="accountform">
    <p>Please specify your email address to receive instructions for resetting it.</p>
    <br>
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
    <p>
        <label for="id_email" class="control-label required-field">E-mail address:</label> 
        {{ form.email }} 
        <input type="submit" value="Reset password" />
    </p>
</form>
{% endblock %}
