{% extends "base.html" %}

{% load materializecss %}

{% block content %}
    <h2>Setting New password</h2>
    {% if validlink %}
        <p>Please enter, and confirm, your new password.</p>
        <form action="" method="post" class="accountform">
        {% csrf_token %}
        {{ form | materializecss }}
        <button  type="submit"  class="btn btn-success">Change password </button>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}