{% extends "base.html" %}

{% load materializecss %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h2 class="section-title">Add Task</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    <ul>
                    {{ form.as_ul | materializecss}}
                    </ul>
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
