{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">   
    <title>{% block page_title %}{% endblock %}</title>
    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    
    {% block css %}
    {% endblock css %}
    
    <!--Custom Styles-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <!--Navbar-->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper teal darken-2">
                    <a href="" class="brand-logo">TASKING</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="main-nav" class="right hide-on-med-and-down">
                        {% if user.is_authenticated %}                        
                            <li><a href="">Tasks</a></li>
                            <li><a href="">Completed Tasks</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Sign in</a></li>
                            <li><a href="{% url 'registration' %}">Sign up</a></li>                            
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-nav">
                {% if user.is_authenticated %}
                    <li><a href="">Tasks</a></li>
                    <li><a href="">Completed Tasks</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign in</a></li>
                    <li><a href="{% url 'registration' %}">Sign up</a></li>   
                {% endif %}
            </ul>
        </div>
    </header> 
    <div class="container">

        {% block content %}
        {% endblock %}
    
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

    <!--Initialize side Navbar for small screens-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems_sn = document.querySelectorAll('.sidenav');
            var instances_sn = M.Sidenav.init(elems_sn);
        });
    </script>

    {% block js %}
    {% endblock %}

</body>
</html>