{% extends 'base.html' %} 

{% load staticfiles %}

{% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'media/parallax3.jpg' %}"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12 m8 offset-m2">
            <br>
            <h5 class="yellow-text text-darken-4" style="font-weight: 800;">THE EASYIEST WAY TO</h5>
            <h1 class="section-title"><em>Organise yourself!</em></h1>
            <br>
            <h6 style="font-weight: 500;"><em>With Tasking you can now organise your To-Do list in a simple way.</em></h6>
            <ul>
                <li style="font-weight: 500;"> &bull; Keep everything in a single place</li>
                <li style="font-weight: 500;"> &bull; Quickly sort your tasks by importance, category or due date</li>
                <li style="font-weight: 500;"> &bull; Use Tasking from any device</li>
            </ul>
            <br>
            <a class="waves-effect waves-light btn-large" style="border-radius:5px; font-weight: 500;" href="">Try it for Free!</a>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'media/parallax4.jpg' %}"></div>
</div>

{% endblock %}

{% block js %}

    <!--Parallax Initialization-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.parallax');
          var instances = M.Parallax.init(elems);
        });
    </script>
{% endblock %}
